FPS_BASE_URL=https://fulfillment-products-service.in.customink.com
PORT=3000

REDSHIFT_HOST=redshift-production.db.customink.com
REDSHIFT_PORT=5439
REDSHIFT_DATABASE=cink
REDSHIFT_USER=<your redshift user>
REDSHIFT_PASSWORD=<your redshift password>
